@model List<UserScore>
@{
    ViewData["Title"] = "Leaderboard";
    var position = 0;
}

<div class="text-center">
    <h1 class="display-4">2024 Season</h1>

    <h3>Leaderboard</h3>

    <ul class="list-group top">
        @foreach (var userScore in Model)
        {
            position++;
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="position">@position</span>
                <span class="name">@userScore.User.UserName</span>
                <span class="badge rounded-pill">@userScore.Score</span>
            </li>
        }
    </ul>
</div>