@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
</div>

<ul>
    <li><a asp-area="Admin" asp-controller="Seasons" asp-action="Index">Seasons</a></li>
    <li><a asp-area="Admin" asp-controller="Drivers" asp-action="Index">Drivers</a></li>
    <li><a asp-area="Admin" asp-controller="Venues" asp-action="Index">Venues</a></li>
</ul>
