@model Sportle.Web.Models.Formula1.Venue

@{
    ViewData["Title"] = "Edit Venue";
}

<h1>@Model.Name</h1>
<h4>Edit Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-2">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Country" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Country" class="form-control" />
                </div>
            </div>
            <div class="mb-3 text-end">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
