<div class="card">
    <div class="card-header"><a data-bs-toggle="collapse" href="#scoring" aria-expanded="false" aria-controls="scoring">Scoring Details</a></div>
    <div id="scoring" class="card-body collapse">
        <ul>
            <li>Submitting your prediction before the first session of the event. (3 bonus points)</li>
            <li>Each correct prediction in the sprint segment. (1 point)</li>
            <li>Every prediction correct in the sprint segment. (2 bonus points)</li>
            <li>Pole Position, Fastest Lap, and each top 10 finisher. (1 point)</li>
            <li>All podium finishers on the podium. (2 bonus points)</li>
            <li>Each podium position correct (1 bonus point)</li>
            <li>Each other finisher correct. (0.5 bonus points)</li>
        </ul>
    </div>
</div>