@model Sportle.Web.Models.Formula1.EventPrediction2024

@{
    ViewData["Title"] = "Edit";

    var e = ViewData["Event"] as Event;
    var hasSprint = e?.Sessions.Any(s => s.Type == SessionType.Sprint) ?? false;

    var drivers = ViewData["Drivers"] as IList<Driver> ?? new List<Driver>();
    var driverOptions = drivers.OrderBy(d => d.Name).Select(d => new SelectListItem { Text = $"{d.Name} ({d.Number})", Value = d.Id.ToString() });

    Func<SelectListItem, Guid?, SelectListItem> DriverOptionsWithSelected = new Func<SelectListItem, Guid?, SelectListItem>((d, s) => {
        return new SelectListItem { Text = d.Text, Value = d.Value, Selected = d.Value == s?.ToString() };
    });
}

<h1>@e?.Venue.Name (@e?.Venue.Country)</h1>
<h4>@e?.GetDateRange()</h4>
<hr />
<div class="row">
    <form asp-action="Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="EventId" />
        <div class="card mb-3" condition="hasSprint">
            <div class="card-header">Sprint</div>
            <div class="card-body">
                <div class="row mb-2">
                    <label asp-for="SprintPP" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="SprintPP" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.SprintPP))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <label asp-for="SprintP1" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="SprintP1" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.SprintP1))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="SprintFL" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="SprintFL" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.SprintFL))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Race</div>
            <div class="card-body">
                <div class="row mb-2">
                    <label asp-for="RacePP" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RacePP" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RacePP))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <label asp-for="RaceP1" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP1" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP1))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP2" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP2" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP2))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP3" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP3" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP3))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <label asp-for="RaceP4" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP4" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP4))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP5" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP5" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP5))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP6" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP6" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP6))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP7" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP7" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP7))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP8" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP8" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP8))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP9" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP9" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP9))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceP10" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceP10" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceP10))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="RaceFL" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RaceFL" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.RaceFL))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 text-end">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
