@model Sportle.Web.Models.PredictionViewModel

@{
    ViewData["Title"] = "Edit";

    var e = ViewData["Event"] as Event;
    var hasSprint = e?.Sessions.Any(s => s.Type == SessionType.Sprint) ?? false;

    var drivers = ViewData["Drivers"] as IList<Driver> ?? new List<Driver>();
    var driverOptions = drivers.Select(d => new SelectListItem { Text = $"{d.Name} ({d.Number})", Value = d.Id.ToString() });

    Func<SelectListItem, Guid?, SelectListItem> DriverOptionsWithSelected = new Func<SelectListItem, Guid?, SelectListItem>((d, s) => {
        return new SelectListItem { Text = d.Text, Value = d.Value, Selected = d.Value == s?.ToString() };
    });
}

<h1>@e?.Venue.Name (@e?.Venue.Country)</h1>

<h4>@e?.GetDateRange()</h4>
<hr />
<div class="row">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Prediction.UserId" />
        <input type="hidden" asp-for="Prediction.EventId" />
        <div class="card mb-3" condition="hasSprint">
            <div class="card-header">Sprint</div>
            <div class="card-body">
                <div class="row mb-2">
                    <label asp-for="Prediction.SprintPP" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.SprintPP" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.SprintPP))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <label asp-for="Prediction.SprintP1" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.SprintP1" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.SprintP1))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="Prediction.SprintFL" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.SprintFL" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.SprintFL))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Race</div>
            <div class="card-body">
                <div class="row mb-2">
                    <label asp-for="Prediction.RacePP" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RacePP" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RacePP))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP1" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP1" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP1))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP2" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP2" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP2))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP3" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP3" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP3))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP4" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP4" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP4))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP5" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP5" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP5))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP6" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP6" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP6))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP7" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP7" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP7))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP8" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP8" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP8))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP9" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP9" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP9))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceP10" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceP10" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceP10))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label asp-for="Prediction.RaceFL" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Prediction.RaceFL" asp-items="driverOptions.Select(d => DriverOptionsWithSelected(d, Model.Prediction.RaceFL))" class="form-control">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
