@using System.Text.Encodings.Web

@model ResetPassword
@{
  Layout = "_Layout.cshtml";
}

<p>A password reset has been requested for your Sportle account.</p>
<p>You can reset your password by <a href="@HtmlEncoder.Default.Encode(Model.CallbackUrl)">clicking here</a>.</p>
