@model Sportle.Web.Models.Formula1.Season

@{
    ViewData["Title"] = "Add Season";
}

<h1>Add Season</h1>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-2">
            <label asp-for="Year" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Year" class="form-control" />
            </div>
        </div>
        <div class="mb-3 text-end">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
